:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #ffffff;
  --logo-color: #000000;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --btn-background-color: #188ce8;
  --team-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --background-color-clients: #f5f5f5;
  --border-client-color: #afb1b8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--для Боді*/
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Шапка*/

.header {
  border: 1px solid var(--header-border-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--accent-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}

.navigation-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.navigation-list {
  position: relative;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}
.contact-card :nth-child(2n + 1) {
  gap: 10px;
}

.nav-content {
  padding-top: 32px;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-content:hover,
.nav-content:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: -30px;
  right: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-link {
  padding-top: 32px;
  padding-bottom: 30px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  fill: currentColor;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon:hover {
  fill: var(--accent-color);
}

/*Main content*/
.section {
  max-width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  position: relative;
  margin: 0 auto;
  padding: 10px 24px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-background-color);
}
/*Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.backdrop,*/
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-height: 581px;
  height: 100%;
  max-width: 528px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  /* width: 30px;
  height: 30px;*/
  padding: 6px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.icon-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}
/*Form*/
.request p {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  width: 448px;
}

.form-name {
  display: block;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-id,
.textarea {
  width: 100%;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px;
  margin-bottom: 10px;
  padding-left: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-id:focus,
.textarea:focus {
  outline: none;
  border: solid 1px var(--accent-color);
}

.form-field:focus-within .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 30px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 15px;
}
.textarea[placeholder] {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-left: 20px;
}
.checkbox {
  appearance: none;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.icon-checkbox {
  width: 16px;
  height: 15px;
  border: var(--primary-text-color) solid 2px;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  border-radius: 2px;
  border-color: var(--accent-color);
}

.form-rules {
  color: var(--accent-color);
  margin-left: 5px;
  text-decoration: underline;
}
.modal-batton {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  display: block;
  padding: 10px 52px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-batton:hover,
.modal-batton:focus {
  background-color: rgba(24, 140, 232, 1);
}

/* section переваги*/
.advantage {
  padding-bottom: 0;
}

.advantage-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*flex-basis: calc(100% / 4- 90px);*/
  gap: 30px;
}
.advantage-title {
  margin-bottom: 10px;

  padding-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*.advantage-item {

}*/
.advantage-box-icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage-icon {
  fill: currentColor;
}

/*section чим ми займаємось*/
.direction-card {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.direction-title,
.team-title {
  padding-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.direction-list-thumb {
  position: relative;
}
.direction-list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* section team*/
.team {
  background-color: var(--team-background-color);
}
.team-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/*.teamate {
  background-color: var(--primary-white-color);*/

.team-members {
  padding: 30px 10px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team-workers {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-professions {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/*team-icons*/
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--social-icon-color);
}
.social-item {
  width: 44px;
  height: 44px;
}
.employees-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon-color);
  background-color: var(--primary-background-color);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employees-link:hover,
.employees-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*Clients*/

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: var(--social-icon-color);
}
.client-item {
  width: 170px;
  height: 92px;
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon-color);
  border: solid 1px var(--border-client-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.client-title {
  padding-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*footer*/
.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}
.footer-accent {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo {
  display: block;
  margin-bottom: 28px;
}

.span-logo {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-link {
  display: block;

  color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
:focus {
  color: rgba(255, 255, 255, 0.6);
}
/*footer-icon*/
.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--primary-background-color);
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-employees-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-employees-link:hover {
  background-color: var(--accent-color);
}

/* SUBSCRIBE*/

.subscribe {
  margin-left: auto;
}

.subscribe p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--hero-background-color);
  outline: none;
  padding: 16px;
  width: 358px;
  margin-right: 12px;
}
.subscribe-input[placeholder] {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 10px 62px 10px 28px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  position: absolute;
  top: 25%;
  right: 22px;

  width: 24px;
  height: 24px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: rgba(24, 140, 232, 1);
}

/*-- PORTFOLIO main--*/
.buttons {
  padding: 6px 22px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--team-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*--Projects*/
.list-box {
  padding: 20px 24px;
}

.project-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.project-work {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: calc(100% / 3 - 60px);
  gap: 30px;
}
.project-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--project-border-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.portfolio-thumb {
  display: flex;
  position: relative;
  overflow: hidden;
}
.portfolio-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.project-icon:hover .portfolio-overley {
  transform: translateY(0);
}
